<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WebControl.control"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
     
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.wondertek.mist.cxxssit" />
    
      <!-- E保通  com.wondertek.cpicmobile -->
  <!-- 中太  com.cpic.cmp -->
   <!-- 车E保  com.wondertek.mist.cxxssit -->
<!--  太付  com.cpic.pay -->
<!--  记事本  com.cpic.mobilenote -->

    <application >
         <uses-library android:name="android.test.runner" />
         <receiver android:name="com.WebControl.receiver" >
               <intent-filter >
                   <action android:name="com.WebControl.receiver"/>
               </intent-filter>
         </receiver>
    </application>

</manifest>
